.payment-form-container {
    margin: 50px 30px;
}

.payment-form-title {
    justify-items: left;
    justify-content: left;
    padding: 10px 20px;
    text-align: left;
}

.payment-form-label {
    color: black;
    font-weight: 600;
}

.payment-form-input {
    width: 300px;
    height: 50px;
    margin-right: 50px;
    border-radius: 1rem;
    border: 2px solid rgba(147, 32, 32, 0.808);
    padding: 10px 15px;
    margin: 10px 5px;
}

.exp-date-input {
    width: 100px;
    height: 50px;
    margin-right: 50px;
    border-radius: 1rem;
    border: 2px solid rgba(147, 32, 32, 0.808);
    padding: 10px 15px;
    margin: 10px 5px;
}
.cvv-input {
    width: 100px;
    height: 50px;
    border-radius: 1rem;
    border: 2px solid rgba(147, 32, 32, 0.808);
    padding: 10px 15px;
    margin: 10px 5px;
}

.payment-button {
    background-color: rgb(145, 32, 32);
    border: none;
    font-weight: bold;
    color: #ffffff;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
    width: 60px;
    height: 50px;
    text-align: center;
    display: block;
   
}