
.col-results-title {
    font-size: 20px;
    margin-left: 25px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: -10px;
}

.img-responsive-results {
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    margin-left: 25px;
}

.search-results-movie-vote{
    text-align: center;
    width: 500px;
    height: 15px;
}
.search-results-movie-overview{
    width: 400px;
    height: 130px;
    padding: 5px;
}
.results-bt {
    background-color: rgb(145, 32, 32);
    border: none;
    font-weight: bold;
    color: #ffffff;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 0px;
    width: 100px;
    height: 30px;
    text-align: center;
}