.StreamList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-top: 30px;
}

.home-container-flexible{
    background-image: url("/public/assets/bgimage.png");
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;

}

