
.homepage-welcome {
    font-size: 90px;
    font-weight: bold;
    text-align: right;
    margin-top: 100px;
    margin-right: 40px;
}

.homepage-message {
    font-size: 40px;
    font-weight: bold;
    text-align:  center;
    margin-top: 100px;
}
.homepage-movies-container {
    padding-left: 20px;
    padding-right: 20px;
}


.col-homepage-title {
    font-size: 20px;
    margin-left: 1px;
    font-weight: 600;
    margin-top: 20px;
}

.fa-layers {
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.fa-layers span {
    padding-top: 5px;
    position: absolute;
    top: 45%;
    left: 85%;
    transform: translate (-50%,-50%);
    z-index: 1;
    font-weight: bold;
    color: white;
}
.homepage-star {
    padding-top: 20px;
    margin-left: 20px;
}

.col-homepage-vote {
    padding-top: 10px;
}
.img-responsive {
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}

.movies-vote {
    margin-left: 20px;
}
.d-flex {
    justify-content: right;
    margin-right: 50px;

}
