* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: white;
  height: 100%;
  width: 100%;
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.App-header {
  display: flex;
  justify-content: center;
  align-items: space-between;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main-container {
  background-size: cover;
  padding: 1rem;
}

h1 {
  font-family: 'Serif', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-size: 100px;
  padding: 40px;

}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-size: 20px;
  padding: 50px;
}

.icon {
  padding: 16px 30px;
  margin-bottom: 1rem;
  border-radius: 1rem;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: auto;
  display: block;

  
}

h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-size: 15px;
  padding: 50px;
  padding-top: 10px;
}

#text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-size: 15px;
  padding: 50px;
  padding-top: 5px;

}