* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: white;
  height: 100%;
  width: 100%;
  text-align: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.App-header {
  display: flex;
  justify-content: center;
  align-items: space-between;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main-container {
  background-size: cover;
  padding: 1rem;
}


